.container {
  @media (max-width: $mantine-breakpoint-md) {
    gap: 0;
  }
}

.right {
  border-left: 10px solid var(--grid-gap-color);
  flex: 1;
  @media (max-width: $mantine-breakpoint-md) {
    border-left: 0;
  }
}

.left {
  @media (max-width: $mantine-breakpoint-md) {
    flex: 1;
    padding-top: 20px;
    justify-content: center;
  }
}

.image {
  aspect-ratio: 18/9;
  width: 100%;
  @media (max-width: $mantine-breakpoint-md) {
    width: 69%;
    border: var(--grid-gap) solid;
  }
}

a.link {
  text-decoration: underline;
  color: black;
}
