.container {
  @media (max-width: $mantine-breakpoint-md) {
    background-color: var(--mantine-color-navy-blue-5);
    gap: 0;
  }
}

.right {
  background-color: var(--mantine-color-navy-blue-5);
}

.left {
  @media (max-width: $mantine-breakpoint-md) {
    padding-top: 20px;
    justify-content: center;
  }
}

.image {
  @media (max-width: $mantine-breakpoint-md) {
    width: 69%;
    border: var(--grid-gap) solid;
  }
}

a.link {
  text-decoration: underline;
  color: black;
}
