/**https://mantine.dev/others/carousel/#styles-api**/

.root {
  flex: 1;
}

.indicator {
  background-color: black;
  width: rem(40px);
  height: rem(10px);
  border-radius: 0;
  transition: width 250ms ease;
  outline: 1px solid white;
  &[data-active] {
    width: rem(50px);
  }
}

.control {
  color: white;
  height: rem(30);
  width: rem(30);
  background-color: black;
  border-radius: 0;
}
