.contact {
  height: 100%;
  display: flex;
  gap: var(--grid-gap);
  position: absolute;
  font-family: U8-Regular;
}

.imageContainer,
.content {
  padding-left: 10px;
  padding-right: 10px;
}

.imageContainer {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  flex: 1;
}

.image {
  scale: 0.7;
  animation: rotate 10s infinite;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  20% {
    rotate: 60deg;
  }
  40% {
    rotate: 90deg;
  }
  100% {
    rotate: 360deg;
  }
}

.content {
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-yellow-5);
  flex: 1;
}

.myForm {
  .label {
    font-family: U8-Black;
    font-size: 18px;
  }

  .input {
    border-radius: 0px;
    background-color: white;
    font-family: U8-Regular;
  }

  .wrapper {
    outline: 4px solid;
  }
}

.sendButton {
  width: 300px;
}
