.image {
  animation: rotate 10s infinite;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  20% {
    rotate: 60deg;
  }
  40% {
    rotate: 90deg;
  }
  100% {
    rotate: 360deg;
  }
}

.right {
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-yellow-5);

  @media (max-width: $mantine-breakpoint-md) {
    height: 100%;
  }
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.myForm {
  .label {
    font-family: U8-Black;
    font-size: 18px;
  }

  .input {
    border-radius: 0px;
    background-color: white;
    font-family: U8-Regular;
  }

  .wrapper {
    outline: 4px solid;
  }
}

.sendButton {
  width: 300px;
}
