.right {
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-yellow-5);

  @media (max-width: $mantine-breakpoint-md) {
    height: 100%;
  }
}

.image {
  height: 100%;
  aspect-ratio: 18/9;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.myForm {
  .label {
    font-family: U8-Black;
    font-size: 18px;
  }

  .input {
    border-radius: 0px;
    background-color: white;
    font-family: U8-Regular;
  }

  .wrapper {
    outline: 4px solid;
  }
}

.sendButton {
  width: 300px;
}
