@font-face {
  font-family: myFirstFont;
  src: url("../fonts/U8-Black-web.woff");
  font-display: swap;
}

:root {
  --grid-gap: 10px;
  --header-height: 18vh;
}

html {
  height: 100%;
}

body {
  font-family: myFirstFont;
  background-color: black;
  padding: var(--grid-gap) var(--grid-gap);
  font-size: 2rem;
}

a {
  background-color: inherit;
  color: inherit;
  text-decoration: none; /* no underline */
}
