@font-face {
  font-family: U8-Black;
  src: url("../fonts/U8-Black-web.woff");
  font-display: swap;
}

@font-face {
  font-family: U8-Regular;
  src: url("../fonts/U8-Regular-web.woff");
  font-display: swap;
}

:root {
  --grid-gap: 10px;
  --header-height: 18vh;
}

body {
  background-color: black;
  padding: var(--grid-gap) var(--grid-gap);
}

main {
  height: calc(100vh - var(--header-height) - 3 * var(--grid-gap));
  position: relative;
}

a {
  background-color: inherit;
  color: black;
  text-decoration: none; /* no underline */
}
