@font-face {
  font-family: U8;
  src: url("../fonts/U8-Black-web.woff");
  font-display: swap;
}

:root {
  --grid-gap: 10px;
  --header-height: 18vh;
}

html {
  height: 100%;
}

body {
  font-family: U8, Arial, Helvetica, sans-serif;
  background-color: black;
  padding: var(--grid-gap) var(--grid-gap);
  font-size: 2rem;
}

main {
  height: calc(100vh - var(--header-height) - 3 * var(--grid-gap));
  /* outline: 5px solid green; */
  position: relative;
}

a {
  background-color: inherit;
  color: inherit;
  text-decoration: none; /* no underline */
}
