.project {
  background-color: var(--mantine-color-blue-5);
  height: 100%;
  position: absolute;

  @media (max-width: $mantine-breakpoint-md) {
    overflow-y: scroll;
  }
}

.shapeContainer:hover {
  transform: translateY(5px);
}

.shapeContainer {
  position: relative;
}

.shapeText {
  font-family: U8-Black;
  font-size: 20px;
  position: absolute;
  top: 40%;
  right: 40%;
}
