.project {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;

  @media (max-width: $mantine-breakpoint-md) {
    overflow-y: auto;
  }
}

.shapeContainer:hover {
  transform: translateY(5px);

  .shapeText {
    display: block;
  }
}

.wrapper {
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.shapeContainer {
  height: 400px;
  position: relative;
}

.shapeContainer svg {
  height: 100%;
}

.shapeText {
  font-family: U8-Black;
  font-size: 36px;
  position: absolute;
  top: 40%;
  right: 30%;

  @media (max-width: $mantine-breakpoint-md) {
    top: 43%;
    right: 37%;
    font-size: 28px;
  }
}
