.container {
  height: 100%;
  display: flex;
  position: absolute;
  font-family: U8-Regular;
  justify-content: space-between;
  background-color: var(--grid-gap-color);

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
    gap: var(--grid-gap);
  }
}

.left,
.right {
  overflow-y: auto;
  display: flex;
  height: 100%;
  width: calc(50% - var(--grid-gap) / 2);

  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
  }
}

.right {
  padding: 10px;
}